.th1-outer-page{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.th1-sub-container{
    background-color: black;
    height: 100vh;
    width: 26vw;
    display: flex;
    flex-direction: column;
}
.th1-sub-container-1{
    /* background-color: bisque; */
    height:70%;
    width:100%;
    display: flex;
    justify-content: end;
}
.th1-sub-container-1-1{
    /* background-color: bisque; */
    height: 100%;
    width: 64%;
    display: flex;
    flex-direction: column;
}
.th1-container-1{
    /* background-color: aqua; */
    height:10%;
    width:100%;
    display: flex;
    align-items: center;
}
.th1-image-1{
    height:55%;
}
.th1-container-2{
    /* background-color: wheat; */
    height:10%;
    width:100%;
    display: flex;
    
}
.th1-container-2:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
.th1-container-2-1{
    /* background-color: violet; */
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-container-2-2{
    /* background-color: bisque; */
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-2-2-1{
    color: white;
    font-size: 2.75vh;
    font-weight: 700;
}
.th1-container-3{
    /* background-color: aqua; */
    height:10%;
    width:100%;
    display: flex;
}
.th1-container-3:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
.th1-container-3-1{
    /* background-color: violet; */
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-container-3-2{
    /* background-color: bisque; */
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-3-2-1{
    color: white;
    font-size: 2.75vh;
    font-weight: 400;
}
.th1-container-4{
    /* background-color: wheat; */
    height:10%;
    width:100%;
    display: flex;
}
.th1-container-4:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
/* .th1-container-4-1{
    background-color: violet;
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-container-4-2{
    background-color: bisque;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-4-2-1{
    font-size: 2.75vh;
    font-weight: 500;
} */
.th1-container-5{
    /* background-color: aqua; */
    height:10%;
    width:100%;
    display:flex;
}
.th1-container-5:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
/* .th1-container-5-1{
    background-color: violet;
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-container-5-2{
    background-color: bisque;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-5-2-1{
    font-size: 2.75vh;
    font-weight: 500;
} */
.th1-container-6{
    /* background-color: wheat; */
    height:10%;
    width:100%;
    display: flex;
}
.th1-container-6:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
/* .th1-container-6-1{
    background-color: violet;
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-container-6-2{
    background-color: bisque;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-6-2-1{
    font-size: 2.75vh;
    font-weight: 500;
} */
.th1-container-7{
    /* background-color: aqua; */
    height:10%;
    width:100%;
    display: flex;
}
.th1-container-7:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
/* .th1-container-7-1{
    background-color: violet;
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-container-7-2{
    background-color: bisque;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-7-2-1{
    font-size: 2.75vh;
    font-weight: 500;
} */
.th1-container-8{
    /* background-color: wheat; */
    height:10%;
    width:100%;
    display: flex;
}
.th1-container-8:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
/* .th1-container-8-1{
    background-color: violet;
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
} */
.th1-image-2{
    height: 50%;
}
/* .th1-container-8-2{
    background-color: bisque;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-8-2-1{
    font-size: 2.75vh;
    font-weight: 500;
} */
.th1-container-9{
    /* background-color: aqua; */
    height:10%;
    width:100%;
    display: flex;
}
.th1-container-9:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
/* .th1-container-9-1{
    background-color: violet;
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-container-9-2{
    background-color: bisque;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-9-2-1{
    font-size: 2.75vh;
    font-weight: 500;
} */
.th1-container-10{
    /* background-color: wheat; */
    height:10%;
    width:100%;
    display: flex;
}
.th1-container-10:hover{
    cursor: pointer;
    background-color: #181818;
    border-radius: 5em;
}
/* .th1-container-10-1{
    background-color: violet;
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-container-10-2{
    background-color: bisque;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}
.th1-container-10-2-1{
    font-size: 2.75vh;
    font-weight: 500;
} */
.th1-sub-container-2{
    /* background-color: aquamarine; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: end;
}
.th1-sub-container-2-1{
    /* background-color: white; */
    height: 100%;
    width: 67%;
    display: flex;
}
.th1-button-1{
    border: none;
    border-radius: 5vh;
    height:38%;
    width:87%;
    background-color: rgb(26, 160, 227);
}
.th1-post-line{
    color: white;
    font-size: medium;
    font-weight: 600;
}
.th1-sub-container-3{
    /* background-color: cadetblue; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
}
.th1-sub-container-3-1{
    /* background-color: white; */
    height: 100%;
    width: 64%;
    display: flex;
}
.th1-sub-container-3-1-1{
    /* background-color: aquamarine; */
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
}
.th1-sub-container-3-1-2{
    /* background-color: bisque; */
    height:100%;
    width:60%;
    display: flex;
    flex-direction: column;
}
.th1-name-container{
    /* background-color: gray; */
    height:50%;
    width: 100%;
    display: flex;
}
.th1-name-container-1{
    font-size: medium;
    font-weight: 500;
    color: white;

}
.th1-email-container{
    /* background-color: violet; */
    height:50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.th1-email-container-1{
   color: gray;
}
.th1-options{
    position: absolute;
    bottom: 8vh;
    left: 9vw;
    background-color: black;
    box-shadow: 0px 0px 1px 0px white;
    width:16vw;
    border-radius: 3vh;
}
.th1-sub-container-3-1-3{
    /* background-color: aqua; */
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
